
body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  margin-bottom: 20px;
}

input, textarea {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 300px;
}

button {
  margin-right: 5px;
  
}
